<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failed</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<style>
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100rem; */
    padding: 20rem;
}
img{
    width: 20rem;
    border-radius: 1rem;
}
</style>
<body>
    <div class="container">
        <h1>Login Failed !</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Gif_Animated_Fail.gif" alt="">

        <a href="/login" style="color: black;">
        
            <h4>return home <-</h4>
        </a>
    </div>
</body>
</html>